*{
    margin: 0;
    padding: 0
}
body{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  &:link{
    text-decoration:none;outline: 0
}
&:visited{
    text-decoration:none;outline: 0 
}
 
&:hover{
    text-decoration:none;outline: 0
}
 
&:active{
    text-decoration:none;outline: 0
    }
}

