.type{
    width: 97%;
    line-height: 60px;
    padding-left:10px;
    font-size: 12px;
}

.all{
    width: 100%;
    height: calc(100vh - 50px - 30px);
    overflow: hidden;
}
.foodlist>a{
    
        transition: scroll 0.8s;
    
}
.foods>li{
    width: 97%;
    display: flex;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
   
    >img{
        width: 80px;
    }
    >div{
        padding: 0 5px;
        position: relative;
        >span{
            display: block;
            font-size: 10px;
        }
    }
    >.calc{
        width: 90px;
        height: 20px;
        position: absolute;
        bottom: 10px;
        right: 20px;
        display: flex;
        button{
            background-color:yellow;
            color: #000;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            outline: none;

        }
        .blank{
            width: 70px;
            height: 20px;
            display: flex;
            >span{
                display: block;
                width: 50px;
                text-align: center;
                line-height: 20px;
            }
        }
    }
}
.show-Food{
    position: fixed;
    width: 80%;
    top: 50%;
    margin-top: -225px;
    height: 450px;
    left: 50%;
    margin-left: -40%;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px #ccc;
    border-radius: 5px;
    >img{
        width: 100%;
    }
}