header{
    width: 100vw;
    background-color:#ccc;
    transition: margin-top 0.3s;
}
.header-inner{
    position: relative;
    position: absolute;
    top: 80px;
    left: 2%;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:  1px 1px 3px 1px #ccc;
    padding: 10px;
    transition: margin-top 0.3s;
    >h1{
    font-size: 20px;
    }
    >.description{
        width: 100%;
        >p{
            font-size: 12px;
            line-height: 20px;
        }
        >div>span{
            line-height: 15px;
            font-size: 10px;
            padding: 0 5px;
            border-radius: 3px;
            border:1px solid red;
            color: red;
            margin-left: 5px;
        }
        
    }
    >img{
        display: block;
        position: absolute;
        right: 10px;
        top: -30px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        box-shadow:  1px 1px 3px 2px #ccc
    }
}
.public{
    width: 100%;
    padding: 10px 0;
}
.public>ul{
    width: 100%;
    display: flex;

}
.public>ul>li{
    width: 10%;
}
.public>ul>li>a{
    display: block;
    width: 100%;
}
.public>ul>li>a>svg{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.public>ul>li:first-child{
    margin-left: 10px;
    width: 70%;
}
.nav-content{
    width: 100%;
    margin-top: 80px;
    background-color: #fff;
    >nav{
        width: 100%;
        display: flex;
        justify-content:space-between;
        padding-top: 80px;
        >a{
            text-align: center;
            text-decoration: none;
            color: #000;
            width: 100%;
            line-height: 28px;
            border-bottom:2px solid #fff;
            transition: all 0.3s
        }
        >.active{
            border-bottom:2px solid orange;
            font-weight: bold;
        }
    }

}
