footer{
    width: 100vw;
 position: fixed;
    bottom: 0;
   
}
.cart{
    position: absolute;
    bottom: 50px;
    background-color: #fff;
    width: 100vw;
    border-radius: 5px 5px 0px 0px;
    >div{
        border-radius: 5px 5px 0px 0px;
        width: 100%;
        line-height: 25px;
        text-align: center;
        background-color: #f6e0cf;
    }
    >p{
        line-height: 20px;
        padding: 5px;
        background-color: #eee;
    }
    .cart-list{
        width: 95%;
        height: 200px;
        overflow-y: auto;
        margin: 0 auto;
        >li{
            padding: 10px 0;
            width: 100%;
            display: flex;
        justify-content: space-between
        }
    }
}
.footer-con{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-radius: 25px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    >.num{
        display: block;
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        color: #fff;
        text-align: center;
        line-height: 20px;
        left: 82px;
        top: -4px;
        
    }
    >button{
        width: 20%;
        background-color: #ccc;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border:none;
        outline: none
    }
    >.footer-left{
        width: 80%;
        display: flex;
        position: relative;
        >span{
            color: #fff;
            margin-left: 100px;
            font-size: 20px;
            line-height: 40px;
        }
        >a{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #e0e0e0;
            position: absolute;
            left: 20px;
            top: -10px;
            >svg{
                display: block;
                margin: 0 auto;
                width: 30px;
                height: 30px;
                margin-top: 10px;
                fill: #ccc
            }
        }
    }

}

.calc{
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    button{
        background-color:yellow;
        color: #000;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        outline: none;

    }
    .blank{
        width: 70px;
        height: 20px;
        display: flex;
        >span{
            display: block;
            width: 50px;
            text-align: center;
            line-height: 20px;
        }
    }
}
